
<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <div class="col">
                <p class="fs-2 fs-responsive text-white animate__animated animate__slideInDown">A comprehensive platform for hiring top talents and recruiters</p>
                <p class="fs-6 text-white mt-3 animate__animated animate__fadeInDown">Earn upskilled internships and opportunities</p>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <a class="btn btn-light btn-outline-success border-1 mx-2" href="/jobs">I'm a Job Seeker</a>
                <a class="btn btn-light btn-outline-info border-1 mx-2" href="/recruiter">I'm a Recruiter</a>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="https://img.freepik.com/free-photo/3d-portrait-people_23-2150793856.jpg?t=st=1717154861~exp=1717158461~hmac=1666ad452227e0d42ea2acd1fc459faf518cf5be599e49a316520843a269f6d1&w=900" width="500" height="400" alt="Job Seeker" class="img-fluid rounded">
        </div>
    </div>
</div>

